# Useful conda commands:
# conda deactivate
# conda env remove --name pointstream
# conda env create --file environment.yml
# conda activate pointstream
# conda env update --file environment.yml  --prune
name: pointstream
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  - opencv
  - scikit-image
  - numpy<2
  - pillow
  - transformers
  - ultralytics
  - pip: 
    - scenedetect[opencv]
    - google-genai