name: pointstream
channels:
  - conda-forge
  - defaults
dependencies:
  # Core Python version
  - python=3.10

  # Conda packages for tools and core libraries
  - numpy
  - ffmpeg
  - opencv
  
  # Pip packages for Python libraries
  - pip
  - pip:
    - scikit-image
    - ultralytics