name: pointstream
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - ffmpeg
  - pytorch-cuda=12.8
  - pytorch
  - torchvision
  - pip
  - pip:
    - -r requirements.txt
