# A couple useful conda commands:
# # conda env create --file environment.yml
# # conda env update --file environment.yml  --prune
# # conda env remove --name pointstream
# Commands to run right after creating the environment:
# python -m spacy download en_core_web_sm
# python -c "import nltk; nltk.download('wordnet'); nltk.download('omw-1.4')"
name: pointstream
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pip
  # Core ML/CV Libraries
  - pytorch
  - torchvision
  - torchaudio
  - opencv
  - scikit-image
  - numpy<2
  # VLM & NLP Libraries
  - transformers
  - sentencepiece
  - pillow
  - spacy
  - nltk
  # New main dependency
  - ultralytics