# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
ultralytics==8.3.44
lap==0.5.12
easyocr==1.7.2